
<footer id="myfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about">
                    <div class="logo-ft">
                        <a href="#">
                            Hotel Automation
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <span>&nbsp</span>
            </div>
            <div class="col-md-3">
                <div class="contact">
                    <h3 class="contact-title">Contact</h3>
                    <ul class="contact-info">
                        <li class="address">
                            DAIICT-campus, Reliance Cross Rd, Gandhinagar, Gujarat<br>
                        </li>
                        <li class="phone">
                            Phone : 12345678<br>
                        </li>
                        <li class="email">
                            jeelsid@daiict.ac.in
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <span>&nbsp</span>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="social">
                    <li>
                        <a href="#" title="">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ArexJambusarwala/Hotel_Automation" title="">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fa fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="copyright">
                    © 2020 Copyright by us. All rights reserved.
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

