<footer id="myfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about">
                    <div class="logo-ft">
                        <a href="#">
                            Hotel Automation
                        </a>
                    </div>
                    <p>
                        Details to be added by Abhishek.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <span>&nbsp</span>
            </div>
            <div class="col-md-3">
                <div class="contact">
                    <h3 class="contact-title">Contact</h3>
                    <ul class="contact-info">
                        <li class="address">
                            DAIICT-campus, Reliance Cross Rd, Gandhinagar, Gujarat<br>
                        </li>
                        <li class="phone">
                            Insert Jeel's number.<br>
                        </li>
                        <li class="email">
                            jeelsid@daiict.ac.in
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <span>&nbsp</span>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="social">
                    <li>
                        <a href="#" title="">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="copyright">
                    © 2020 Copyright by us. All rights reserved.
                </div>
            </div>
            </div>
        </div>
    </div>
</div>