<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<%-include('partials/header.ejs')%>
<h1>Jeel - Backend Developer</h1>
<h1>Niraj - IoT developer</h1>
<h1>Arex - FrontEnd Developer</h1>
<h1>Abhay - BlockChain Developer</h1>
<h1>Abhishek - BlockChain Developer</h1>
</body>
</html>
