<!doctype html>
<html lang="en">
    <head>
        <%-include('partials/headcontent.ejs')%>
        <link rel="stylesheet" type="text/css" href="css/aboutus.css" />
        <title>About Us</title>
    </head>
    <body>
        <%-include('partials/header.ejs')%>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="css/images/DAIICT.png" class="personimg" alt="Abhishek">
                    <h3 class="personh1">Abhishek Sutariya</h3>
                    <h4 class="personh2">Blockchain Developer</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="css/images/DAIICT.png" class="personimg" alt="Abhay">
                    <h3 class="personh1">Abhay Mistry</h3>
                    <h4 class="personh2">Blockchain Developer</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="css/images/DAIICT.png" class="personimg" alt="Arex">
                    <h3 class="personh1">Arex Jambusarwala</h3>
                    <h4 class="personh2">Frontend Developer</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="css/images/DAIICT.png" class="personimg" alt="Jeel">
                    <h3 class="personh1">Jeel Patel</h3>
                    <h4 class="personh2">Backend Developer</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="css/images/DAIICT.png" class="personimg" alt="Niraj">
                    <h3 class="personh1">Niraj Kamdar</h3>
                    <h4 class="personh2">IoT Developer</h4>
                </div>
            </div>
        </div>
        <%-include('partials/footer.ejs')%>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
