<!doctype html>
<html lang="en">
<head>
    <%-include('partials/headcontent.ejs')%>
    <title>Book Room</title>
    <link rel="stylesheet" type="text/css" href="css/book-rooms.css" />
</head>
<body>
    <%-include('partials/header.ejs')%>
    <h1 style="text-align: center; color: #2C3E50;">Hotel Rooms</h1>
    <br><br>
    <div id="status"></div>
    <div id="room_container" class="container">
        <div class="row">
            <div class="room col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div>Type A</div>
                <img src="images/room-1.jpg" alt="room_name" />
                <button class="book_room_btn" data-price="1">Book Room 1 ICR</button>
            </div>

            <div class="room col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div>Type B</div>
                <img src="images/room-2.jpg" alt="room_name" />
                <button class="book_room_btn" data-price="2">Book Room 2 ICR</button>
            </div>

            <div class="room col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div>Type C</div>
                <img src="images/room-3.jpg" alt="room_name" />
                <button class="book_room_btn" data-price="3">Book Room 3 ICR</button>
            </div>
        </div>
    </div>
    <form method="post" id="book-room" action="" novalidate style="display : none">
        <label><input type="text" name="price" id="price"/></label>
        <label><input type="text" name="roomType" id="roomType"/></label>
        <button id="submit">Submit</button>
    </form>
    <br><br><br>
    <%-include('partials/footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
<script src="js/book-rooms.js"></script>
</html>