<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Room</title>
    <link rel="stylesheet" href="css/book-rooms.css" />
</head>
<body>
  <h1>Hotel Rooms</h1>
  <div id="status"></div>
  <div id="room_container">
      <div class="room">
          <img src="images/room-1.jpg" alt="room_name" />
          <button class="book_room_btn" data-price="1">Book Room 1 ICR</button>
      </div>

      <div class="room">
          <img src="images/room-2.jpg" alt="room_name" />
          <button class="book_room_btn" data-price="2">Book Room 2 ICR</button>
      </div>

      <div class="room">
          <img src="images/room-3.jpg" alt="room_name" />
          <button class="book_room_btn" data-price="3">Book Room 3 ICR</button>
      </div>
  </div>
  <form method="post" id="book-room" action="" novalidate style="display : none">
      <label><input type="text" name="price" id="price"/></label>
      <label><input type="text" name="roomType" id="roomType"/></label>
      <button id="submit">Submit</button>
  </form>
</body>
<script src="js/book-rooms.js"></script>
</html>