<!doctype html>
<html lang="en">
    <head>
        <%-include('partials/headcontent.ejs')%>
        <link rel="stylesheet" type="text/css" href="css/home.css" />
        <title>Home</title>
    </head>
    <body>
        <%-include('partials/header.ejs')%>
        <div id="content" class="container-fluid">
            <h1>Hotel DA</h1>
            <h3>What services do we provide?</h3>
            <h3>Secure Payment System using Block-Chain</h3>
            <h3>Controlling room appliances with Website and IoT</h3>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <%-include('partials/footer.ejs')%>
    </body>
</html>