<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Room</title>
    <link rel="stylesheet" href="css/book-rooms.css" />
</head>
<body>
  <h1>Current Booking</h1>
  <%if (!roomTypes.length){%>
      <h1>No rooms are booked</h1>
 <% }else{%>
      <%roomTypes.forEach(function(room,index){%>
      <span><%=index + 1%></span>
      <span><%=room%></span>
      <a href="/appliances">Room Controls</a>
      <%})%>
 <%}%>

</body>

</html>
